{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <h1>{{ _('Welcome to DartsGuesser') }}</h1>
    <p class="intro-text">
        {{ _('The place where you can submit a guess for every game and explore overall tournament statistics for the 2025 PDC Darts World Championship.') }}<br>
        {{ _('Guess on your own or create and join a group with friends for a friendly competition to see who is the best guesser for this year\'s Darts World Championship.') }}
        <a href="{{ url_for('how_it_works') }}" class="how-it-works-link">{{ _('Learn how it works') }}</a>.
    </p>
    <div class="button-container">
        <a href="{{ url_for('register') }}" class="btn btn-info btn-lg mb-3">{{ _('Register') }}</a>
        <a href="{{ url_for('login') }}" class="btn btn-success btn-lg mb-3">{{ _('Login') }}</a>
    </div>
</div>
{% endblock %}

