{% extends "base.html" %}

{% block title %}{{ _('Reset Password') }}{% endblock %}

{% block content %}
<div class="form-container">
<form method="POST">
    <label for="security_question">{{ _('Security Question:') }}</label>
    <p>{{ user.security_question }}</p> <!-- Display the security question -->

    <label for="security_answer">{{ _('Answer:') }}</label>
    <input type="text" id="security_answer" name="security_answer" required>

    <label for="new_password">{{ _('New Password:') }}</label>
    <input type="password" id="new_password" name="new_password" required><br>

    <button class="btn btn-success btn-lg mb-3" type="submit">{{ _('Submit') }}</button>
</form>
</div>

{% endblock %}
